PORT=3000
LOG_LEVEL=info
BATCH_SIZE=1000

GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-bucket-name

POSTGRES_PASSWORD=password
SHARD_URLS=postgres://user:password@localhost:5432/orders_shard_0,postgres://user:password@localhost:5432/orders_shard_1,postgres://user:password@localhost:5432/orders_shard_2